<launch>

  <node pkg="balboa_core" name="balboa_serial" type="balboa_serial.py"/>
  <node pkg="turtlesim" name="teleop" type="turtle_teleop_key"/>
  
  <node pkg="lab1" name="distancePID" type="distancePID.py" output="screen">
    <param name="rCtrl/P" type="double" value="0.005"/>
    <param name="rCtrl/I" type="double" value="0.005"/>
    <param name="rCtrl/D" type="double" value="0.0"/>
  </node>

</launch>